@charset "UTF-8";
/* 
SOMMAIRE BASE.SCSS
1 - Balises : h1, h2, h3, p, a, body
2 - Divers : alignement texte / div
3 - Bouton-gradiant
4 - Pied-de-page
5 - Positionnement images

*/
/* VAR.SCSS */
/* variables pour les couleurs */
/* Variables pour les médias queries*/
/* Mixins - Keyframes */
* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0;
}

h1 {
  color: var(--Black, #101010);
  font-family: "Shrikhand", cursive;
}

h2 {
  color: #000;
  font-family: Roboto;
  font-weight: 700;
  margin: 0;
}

h3 {
  line-height: 0.1em;
  color: #000;
}

p {
  color: #353535;
  font-family: Roboto;
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Alignements   */
.center {
  display: flex;
  align-content: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.direction-row {
  display: flex;
  flex-direction: row;
}

/*---------------------*/
/* = Bouton gradiant   */
/*---------------------*/
.btn-gradiant {
  display: flex;
  width: 186px;
  height: 50px;
  margin: 40px 0 40px 0;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(1deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  color: #fff;
}
.btn-gradiant:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*---------------------*/
/* = Pied de page      */
/*---------------------*/
.pied-de-page {
  height: 250px;
  background: #353535;
  position: relative;
  top: auto;
}
.pied-de-page__titre {
  display: flex;
  height: 27px;
  padding: 22px 25px;
}
.pied-de-page__texte {
  color: var(--White, #fff);
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.pied-de-page__liste {
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
}
.pied-de-page__align-ico {
  display: flex;
  align-items: center;
}
.pied-de-page__align {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Styles des icônes */
.fa-arrow-left, .fa-heart {
  color: #000;
}

.fa-circle-check, .fa-utensils, .fa-handshake-angle {
  color: #fff;
}

/*------------------------------*/
/* = Positionnement des images  */
/*------------------------------*/
.img-lapalette {
  -o-object-position: 0 -50px;
     object-position: 0 -50px;
}

.img-lanote {
  -o-object-position: 0 -160px;
     object-position: 0 -160px;
}

.img-ledelice {
  -o-object-position: 0 -80px;
     object-position: 0 -80px;
}

.img-alafrancaise {
  -o-object-position: 0 -80px;
     object-position: 0 -80px;
}