/*Couleurs :
    Primaire :      #9356DC
    Secondaire :    #FF9DA
    Tertiaire :     #99E2D0
    Localisation :  #EAEAEA
    Section :       #F6F6F6
    Paragraphe / pied de page :    #353535
    

*/

$Primaire : #9356DC;
$Secondaire : #FF9DA;
$Tertiaire : #99E2D0;
$Localisation : #EAEAEA;
$Section : #F6F6F6;
$paragraphe: #353535;