@charset "UTF-8";
/*
SOMMAIRE

1 - Header
2 - Explorer
3 - Fonctionnement
4 - Restaurant (cards)
5 - Badge Nouveau

*/
/*
Couleurs :
    Primaire :      #9356DC
    Secondaire :    #FF79DA
    Tertiaire :     #99E2D0
    Localisation :  #EAEAEA
    Section :       #F6F6F6
    Paragraphe / pied de page :    #353535

    */
/* variables pour les couleurs */
/* Variables pour les médias queries*/
/* Mixins */
/*---------------------*/
/* = Header            */
/*---------------------*/
.title-contenaire {
  position: relative;
  z-index: 2;
  height: 63px;
  align-items: center;
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.204);
  background: var(--White, #fff);
}

/* Section : Zone de recherche*/
.geo-contenaire {
  position: relative;
  z-index: 1;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.geo-contenaire__logo {
  margin-right: 17px;
}
.geo-contenaire__recherche {
  background-color: transparent;
  border: 0;
}

/*---------------------*/
/* = Explorer          */
/*---------------------*/
.explorer-contenaire {
  height: 300px;
  background-color: #f6f6f6;
}

.fonctionnement__txt {
  font-size: 16px;
}

.explorer__titre {
  font-size: 24px;
  margin: 30px 0 20px;
}

.explorer__txt {
  font-size: 18px;
}

/*---------------------*/
/* = Animation coeur   */
/*---------------------*/
.heart {
  position: absolute;
}

.my-heart-full {
  opacity: 0;
  transition-property: all;
  transition-duration: 500ms;
}
.my-heart-full:hover {
  opacity: 1;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}

/*---------------------*/
/* = Fonctionnement    */
/*---------------------*/
.btn-fonct {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 320px;
  height: 72px;
  border-radius: 20px;
  left: -25px;
  background: var(--Background, #f6f6f6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3 ease-out;
}
.btn-fonct__align {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-fonct:hover {
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.27);
}

.btn-num {
  position: relative;
  z-index: 2;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  left: -10px;
  color: #fff;
  margin-left: 35px;
}
.btn-num__align {
  display: flex;
  align-items: center;
}
.btn-num__centre {
  margin-bottom: 30px;
}

.titre__align {
  margin: 50px 0 20px 20px;
}

/*---------------------*/
/* = Restaurant        */
/*---------------------*/
.resto {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}

.cards {
  height: 240px;
  /*propriété qui définit comment gérer le dépassement du contenu d'un élément dans son bloc*/
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  /* Badge nouveau - pseudo-élément */
  /* Heart transition */
}
.cards .new {
  position: relative;
}
.cards .new::after {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  border-radius: 2px;
  right: 1rem;
  top: 1rem;
}
.cards .fa-solid {
  opacity: 0;
  position: absolute;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transition: all 500ms;
}
.cards:hover .fa-solid {
  opacity: 1;
}

.cards-contenaire {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  flex-basis: auto;
  align-self: stretch;
}

.resto-cards {
  height: 260px;
  padding-bottom: 18px;
}
.resto-cards__cont {
  display: flex;
  justify-content: space-between;
  height: 72px;
  line-height: 1px;
}
.resto-cards__text {
  display: flex;
  margin-left: 10px;
}
.resto-cards__heart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
}

.cards-img {
  min-width: 340px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}