@charset "UTF-8";

/* Polices de caractères Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");

/* 
SOMMAIRE BASE.SCSS
1 - Balises : h1, h2, h3, p, a, body
2 - Divers : alignement texte / div
3 - Bouton-gradiant
4 - Pied-de-page
5 - Positionnement images

*/

/* VAR.SCSS */
/* variables pour les couleurs */
/* Variables pour les médias queries*/
/* Mixins - Keyframes */

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0;
}

h1 {
  color: var(--Black, #101010);
  font-family: "Shrikhand", cursive;
}

h2 {
  color: #000;
  font-family: Roboto;
  font-weight: 700;
  margin: 0;
}

h3 {
  line-height: 0.1em;
  color: #000;
}

p {
  color: #353535;
  font-family: Roboto;
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Alignements   */
.center {
  display: flex;
  align-content: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.direction-row {
  display: flex;
  flex-direction: row;
}

/*---------------------*/
/* = Bouton gradiant   */
/*---------------------*/
.btn-gradiant {
  display: flex;
  width: 186px;
  height: 50px;
  margin: 40px 0 40px 0;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(1deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  color: #fff;
}
.btn-gradiant:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*---------------------*/
/* = Pied de page      */
/*---------------------*/
.pied-de-page {
  height: 250px;
  background: #353535;
  position: relative;
  top: auto;
}
.pied-de-page__titre {
  display: flex;
  height: 27px;
  padding: 22px 25px;
}
.pied-de-page__texte {
  color: var(--White, #fff);
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.pied-de-page__liste {
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
}
.pied-de-page__align-ico {
  display: flex;
  align-items: center;
}
.pied-de-page__align {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*------------------------------*/
/* = Positionnement des images  */
/*------------------------------*/
.img-lapalette {
  -o-object-position: 0 -50px;
     object-position: 0 -50px;
}

.img-lanote {
  -o-object-position: 0 -160px;
     object-position: 0 -160px;
}

.img-ledelice {
  -o-object-position: 0 -80px;
     object-position: 0 -80px;
}

.img-alafrancaise {
  -o-object-position: 0 -80px;
     object-position: 0 -80px;
}

/*
SOMMAIRE INDEX.SCSS

1 - Header
2 - Explorer
3 - Fonctionnement
4 - Restaurant (cards)
*/
/*---------------------*/
/* = Header            */
/*---------------------*/
.title-contenaire {
  position: relative;
  z-index: 2;
  height: 63px;
  align-items: center;
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.204);
  background: var(--White, #fff);
}

/* Section : Zone de recherche*/
.geo-contenaire {
  position: relative;
  z-index: 1;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.geo-contenaire__logo {
  margin-right: 17px;
}
.geo-contenaire__recherche {
  background-color: transparent;
  border: 0;
}

/*---------------------*/
/* = Explorer          */
/*---------------------*/
.explorer-contenaire {
  height: 300px;
  background-color: #f6f6f6;
}

.fonctionnement__txt {
  font-size: 16px;
}

.explorer__titre {
  font-size: 24px;
  margin: 30px 0 20px;
}

.explorer__txt {
  font-size: 18px;
}

/*---------------------*/
/* = Fonctionnement    */
/*---------------------*/
.btn-fonct {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 300px;
  height: 72px;
  border-radius: 20px;
  left: -25px;
  background: var(--Background, #f6f6f6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s ease-out;
}
.btn-fonct__align {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-fonct:hover {
  color: #9356DC;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.27);
}
.btn-fonct .fa-solid {
  color: #7E7E7E;
}
.btn-fonct .fa-solid:hover {
  color: #9356DC;
}

.btn-num {
  position: relative;
  z-index: 2;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  left: -10px;
  color: #fff;
  margin-left: 35px;
}
.btn-num__align {
  display: flex;
  align-items: center;
}
.btn-num__centre {
  margin-bottom: 30px;
}

.titre__align {
  margin: 50px 0 20px 20px;
}

/*---------------------*/
/* = Restaurant        */
/*---------------------*/
.resto {
  min-width: 371px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}
.resto__contenaire {
  max-width: 1170px;
}
.resto__align {
  margin: auto;
}

.cards {
  height: 240px;
  /*propriété qui définit comment gérer le dépassement du contenu d'un élément dans son bloc*/
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  /* Badge nouveau - pseudo-élément */
}
.cards .new {
  position: relative;
}
.cards .new::after {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  border-radius: 2px;
  right: 1rem;
  top: 1rem;
}

.cards-contenaire {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.resto-cards {
  height: 240px;
  width: 360px;
  padding-bottom: 18px;
}
.resto-cards__cont {
  display: flex;
  justify-content: space-between;
  height: 72px;
  line-height: 1px;
}
.resto-cards__text {
  display: flex;
  margin-left: 10px;
}
.resto-cards__heart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
  /* Animation coeur */
}
.resto-cards__heart .fa-solid {
  opacity: 0;
  position: absolute;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transition: all 500ms;
}
.resto-cards__heart:hover .fa-solid {
  opacity: 1;
}

/* LOADERV2.SCSS */
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  opacity: 0.9;
  height: 100vh;
  inset: 0; /* écrite simplifiée pour top left right et bottom = 0*/
  z-index: 4;
  animation: disappear 2500ms 1s;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: translatey(2000px);
  }
}
/*
SOMMAIRE RESTAURANTS.SCSS
1 - Header
2 - Image
3 - Titre de la page
4 - Menu (et trait bleu)
5 - Vignettes des menus

*/
/*-----------------------*/
/* = Header              */
/*-----------------------*/
.header__titre {
  font-size: 28px;
  font-weight: 400;
}
.header__titre-align {
  margin: auto;
}

.header__go-back {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  margin: 0 0 0 17px;
}

/*-----------------------*/
/* = Titre               */
/*-----------------------*/
.titre {
  font-size: 28px;
  margin-top: 0;
}

/*-----------------------*/
/* = Image               */
/*-----------------------*/
.img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.img__contenaire {
  height: 200px;
}

.align_txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 30px;
  left: 17px;
}

.align-heart {
  position: relative;
  display: flex;
  margin: 10px 35px;
  /* Animation coeur */
}
.align-heart .fa-solid {
  opacity: 0;
  position: absolute;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transition: all 500ms;
}
.align-heart:hover .fa-solid {
  opacity: 1;
}

/*-----------------------*/
/* = Menu                */
/*-----------------------*/
.contenaire {
  width: 375px;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
}
.contenaire__menu {
  margin-left: 10px;
}

.line {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin-bottom: 12px;
}

/*-----------------------*/
/* = Vignettes des menus */
/*-----------------------*/
.plat {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 349px;
  height: 69px;
  border-radius: 15.043px;
  background: #fff;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  animation: appear 1s;
}
.menu:nth-child(1) {
  animation-delay: 100ms;
}
.menu:nth-child(2) {
  animation-delay: 200ms;
}
.menu:nth-child(3) {
  animation-delay: 300ms;
}
.menu:nth-child(4) {
  animation-delay: 400ms;
}
.menu__titre {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase; /*Mets en Majuscule le texte*/
  margin: 40px 0 5px 0;
}
.menu__ss-titre {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0 0 15px;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Cache le texte qui dépasse la largeur de l'élément */
  text-overflow: ellipsis; /* Ajoute une ellipse (...) à la fin du texte coupé */
}
.menu__txt {
  color: #000;
  font-size: 15.043px;
  margin: 0 0 15px 15px;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Cache le texte qui dépasse la largeur de l'élément */
  text-overflow: ellipsis; /* Ajoute une ellipse (...) à la fin du texte coupé */
}
.menu__euro {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 15.043px;
  font-weight: 700;
  margin-bottom: 15px;
}
.menu__euro-align {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  padding-left: 100px;
}
.menu__truncate-text {
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Cache le texte qui dépasse la largeur de l'élément */
  text-overflow: ellipsis; /* Ajoute une ellipse (...) à la fin du texte coupé */
}
.menu__cloche {
  background-color: #99E2D0;
  width: 4rem;
  height: 69px;
  margin-right: -4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  opacity: 1;
  position: relative;
  transition: margin-right, 0.5s;
}
.menu:hover .menu__cloche {
  margin-right: 0;
}

/************************************************************************/
/* Medium devices
/* - 1_smartphone min: 360px
/* - 2_tablettes min: 810px
/* - 3_desktop min: 1100px)
/************************************************************************/
/************************************************************************/
@media (min-width: 360px) {
  .direction {
    display: flex;
    flex-direction: column;
  }
  .media-row {
    display: flex;
    flex-direction: column;
  }
  .media-row__align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .direction {
    display: flex;
    flex-direction: column;
  }
  .vignettes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
  .vignettes__align {
    gap: 30px;
  }
  .cards-img {
    width: 100%;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .badge {
    display: flex;
    justify-content: flex-end;
  }
  .contenaire {
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 2;
  }
  .contenaire__menu {
    display: flex;
  }
  .align_txt {
    justify-content: center;
  }
  .menu {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 330px;
  }
  .menu__m-align {
    margin: auto;
  }
  .pied-de-page {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 214px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background: #353535;
  }
}
/************************************************************************/
@media (min-width: 810px) {
  .contenaire {
    max-width: 810px;
    height: auto;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  .contenaire__menu {
    display: flex;
  }
  .titre__align {
    padding-left: 10px;
  }
  .align_txt {
    justify-content: center;
  }
  .menu {
    width: 634px;
  }
  .menu__m-align {
    margin: auto;
  }
  .pied-de-page {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    top: auto;
  }
  .pied-de-page__m-align {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .pied-de-page__m-titre {
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
  }
}
/************************************************************************/
@media (min-width: 1100px) {
  .resto-cards {
    height: 240px;
    width: 500px;
    padding-bottom: 18px;
  }
  .contenaire {
    max-width: 1055px;
    height: auto;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  .contenaire__menu {
    display: flex;
  }
  .align_txt {
    justify-content: center;
  }
  .menu {
    width: 634px;
  }
  .menu__m-align {
    margin: auto;
  }
  .media-row {
    display: flex;
    flex-direction: row;
    height: 100px;
  }
  .media-row__align {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .titre__align {
    padding-left: 40px;
  }
}