/* INFORMATIONS DE BASE
Polices :
    Logo et titres : Shrikhand
    Texte : Roboto

voir le fichier couleur
Couleurs :
    Primaire :      #9356DC
    Secondaire :    #FF9DA
    Tertiaire :     #99E2D0
    Localisation :  #EAEAEA
    Section :       #F6F6F6
    Paragraphe / pied de page :    #353535
    

*/

*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
}

h1{
    font-family: 'Shrikhand', cursive;
}

h2{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h3{
    line-height: 1%;
}

p{
    color: #353535;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
}

body{
    max-width: 375px ;
}

.center{
    display: flex;
    align-content: center;
    justify-content: center;
}

.center-text{
    text-align: center;
}
.direction-row{
    display: flex;
    flex-direction: row;
}

.direction{
    display: flex;
    flex-direction: column;
}

/*---------------------*/
/* = Header            */
/*---------------------*/
.title-contenaire{
    position: relative;
    z-index: 2;
    display: flex;
    padding: 14px 89px 13px 89px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.205); 
    background: var(--White, #FFF);
}

/* Section : Zone de recherche*/
.geo-contenaire{
    position: relative;
    z-index: 1;
    height: 50px;
    justify-content: center;
    align-items: center; 
    background-color:#EAEAEA;
}
.geo-contenaire__logo{
    margin-right: 17px;
}
.geo-contenaire__recherche{
    background-color: transparent;
    border:0;
}

/* Section : Explorer */
.explorer-contenaire{
    height: 287PX; 
    background-color: #F6F6F6;
}

.btn-gradiant{
    display: flex;
    width: 186px;
    height: 50px;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(1deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-gradiant:hover{
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
} 

.explorer--h2{
    font-size: 24px;
}

.explorer--p{
    font-size: 18px;
}

/*---------------------*/
/* = Fonctionnement    */
/*---------------------*/

.btn-fonct{
    position: relative;
    z-index: 1;
    width: 320px;
    height: 72px;
    left: -25px;
    border-radius: 20px;
    background: var(--Background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.btn-fonct__align{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-num{
    position: relative;
    z-index: 2;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #9356DC;
    left: -10px;
    color: #FFF;
    margin-left: 35px;
}

.btn-num--align{
    display: flex;
    align-items: center;
}
.btn--align{
    margin-bottom: 30px;
}

.titre__align{
    margin-left: 20px;
}

.fonct--p{
    font-size: 16px;
}

/*---------------------*/
/* = Restaurant        */
/*---------------------*/

.resto{
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
}

.cards-contenaire{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    flex-basis: auto;
    align-self: stretch;
}

.resto-cards{
    align-content: space-between;
    border-radius: 15px;
    width: 340px;
    height: 260px;
    padding-bottom: 18px;
}

.resto-cards__img{
    width: 100%;
    height: auto;
    align-self: stretch;
    border-radius: 15px;
} 

.cards{
     background-color: #FFF;
     border-radius: 15px;
}

.cards-img{
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.resto-cards--align{
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}

.resto-cards--align-heart{  
    position: relative;
    z-index: 1;
}

.resto-cards--align-text{
    position: relative;
    z-index: 2;
    padding-left: 10px;
}

/*---------------------*/
/* = Pied de page      */
/*---------------------*/
.pied-de-page{
    display: flex;
    height: 240px;
    flex-direction: column;
    background: var(--Grey, #353535);
}

.pied-de-page--titre{
    display: flex;
    height: 27px;
    padding: 22px 25px;
}

.pied-de-page--texte{
    color: var(--White, #FFF);
    font-family: Shrikhand;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pied-de-page--liste{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1px;
}

.pied-de-page--align-ico{
    display: flex;
    align-items: center;    
}

.pied-de-page--align{
    display: flex;
    align-items: center;
    gap: 10px;
}