/********************************************************************/
/********* Medium devices (tablettes - desktop / minimum : 1024px) **/
/********************************************************************/
$col-loc:#EAEAEA;
$col-pdpP:#353535;
$col-primaire:#9356DC;
$col-secondaire:#FF79DA;
$col-tertiaire:#99E2D0;
$col-txtNew:#008766;
$col-sect:#F6F6F6;

@media (min-width: 500px){

    body{
        max-width: 1440px;
        margin: auto;
    }

    .media-row {
        display: flex;
        flex-direction: row;

        &__align{
            justify-content: center;
            margin: auto;
        }
    }

    direction2{
        display: flex;
        flex-direction: row;
    }
    /*------------------------------*/
    /* = Index                      */
    /*------------------------------*/

    .vignettes{
        display: flex;
        flex-wrap: wrap;
        width: 1100px;
        margin: auto;

        &__align{
            gap:80px
        }
    }

    .cards-img{
        width: 490px;
        height: 161px;
    }

    .badge{
        margin-left: 390px;
    }

    /*------------------------------*/
    /* = Restaurants                */
    /*------------------------------*/

    .contenaire{
        width: 1055px;
        height: auto;
        margin: auto;
        position: relative;
        z-index: 2;
        top: 70px;

        &__menu{
            display: flex;        
        }
    }

    .align_txt{
        justify-content: center;
    }

    .menu{
        width: 634px;

        &__m-align{
            margin: auto;
        }
    }

    .img{
        width: 1440px;
        height: 320px;

        &__contenaire{
            margin: auto;
        }
    }


    /*------------------------------*/
    /* = Pied de page               */
    /*------------------------------*/

    .pied-de-page{
        position:relative;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 114px;
        top:70px;

        &__m-align{
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
        &__m-titre{
            display: flex;
            flex-direction: row-reverse;
            margin-top: 30px;
            gap: 70px;
        }

    }

    .pied-de-page_2{
        position:relative;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 114px;
        background:#353535;
    }

    /*------------------------------*/
    /* = Positionnement des images  */
    /*------------------------------*/

    .img-lapalette__2{
        object-position: 0 -400px;
    }

}
