/********************************************************************/
/********* Medium devices (tablettes - desktop / minimum : 1024px) **/
/********************************************************************/

@use 'var';

@media (min-width: 360px){
    .direction{
        display: flex;
        flex-direction: column;
    }

    .media-row {
        display: flex;
        flex-direction: column;

        &__align{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
        }
    }

    .direction{
        display: flex;
        flex-direction: column;
    }
    /*------------------------------*/
    /* = Index                      */
    /*------------------------------*/

    .vignettes{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;

        &__align{
            gap:30px
        }
    }

    .cards-img{
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .badge{
        display: flex;
        justify-content: flex-end;
    }

    /*------------------------------*/
    /* = Restaurants                */
    /*------------------------------*/

    .contenaire{
        width: 100%;
        height: auto;
        margin: auto;
        z-index: 2;

        &__menu{
            display: flex;        
        }
    }

    .align_txt{
        justify-content: center;
    }

    .menu{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 330px;

        &__m-align{
            margin: auto;
        }
    }

    /*------------------------------*/
    /* = Pied de page               */
    /*------------------------------*/

    .pied-de-page{
        position:absolute;
        z-index: 3;
        width: 100%;
        height: 214px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        
        background:var.$col-pdpP;
    }


}

@media (min-width: 810px){
    /*------------------------------*/
    /* = Restaurants                */
    /*------------------------------*/

    .contenaire{
        max-width: 810px;
        height: auto;
        margin: auto;
        position: relative;
        z-index: 2;

        &__menu{
            display: flex;        
        }
    }

    .align_txt{
        justify-content: center;
    }

    .menu{
        width: 634px;

        &__m-align{
            margin: auto;
        }
    }

    .pied-de-page{
        display: flex;
        justify-content: flex-end;
        height: 100px;
        top: auto;

        &__m-align{
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
        &__m-titre{
            display: flex;
            flex-direction: row-reverse;
            gap: 70px;
        }
    }

}
    
@media (min-width: 1100px){

    /*------------------------------*/
    /* = Restaurants                */
    /*------------------------------*/

    .resto-cards{
        height: 240px;
        width: 500px;
        padding-bottom: 18px;
    }

    .contenaire{
        max-width: 1055px;
        height: auto;
        margin: auto;
        position: relative;
        z-index: 2;

        &__menu{
            display: flex;        
        }
    }

    .align_txt{
        justify-content: center;
    }

    .menu{
        width: 634px;

        &__m-align{
            margin: auto;
        }
    }
    
    .media-row {
        display: flex;
        flex-direction: row;
        height:100px;

        &__align{
            display: flex;
            justify-content: center;
            margin: auto;
        }
    }
}




