/********************************************************************/
/********* Medium devices (tablettes - desktop / minimum : 1024px) **/
/********************************************************************/

@use 'var';
    
    @media (min-width: 1440px){

    /*------------------------------*/
    /* = Restaurants                */
    /*------------------------------*/

    .contenaire{
        max-width: 1055px;
        height: auto;
        margin: auto;
        position: relative;
        z-index: 2;
        top: 70px;

        &__menu{
            display: flex;        
        }
    }

    .align_txt{
        justify-content: center;
    }

    .menu{
        width: 634px;

        &__m-align{
            margin: auto;
        }
    }

    .img{
        width: 1440px;
        height: 320px;

        &__contenaire{
            margin: auto;
        }
    }
}


@media (min-width: 810px){
/*------------------------------*/
    /* = Restaurants                */
    /*------------------------------*/

    .contenaire{
        max-width: 810px;
        height: auto;
        margin: auto;
        position: relative;
        z-index: 2;
        top: 70px;

        &__menu{
            display: flex;        
        }
    }

    .align_txt{
        justify-content: center;
    }

    .menu{
        width: 634px;

        &__m-align{
            margin: auto;
        }
    }

    .img{
        width: 810px;
        height: 320px;

        &__contenaire{
            margin: auto;
        }
    }
}



@media (min-width: 371px){

    .media-row {
        display: flex;
        flex-direction: row;

        &__align{
            justify-content: center;
            margin: auto;
        }
    }

    direction2{
        display: flex;
        flex-direction: row;
    }
    /*------------------------------*/
    /* = Index                      */
    /*------------------------------*/

    .vignettes{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;

        &__align{
            gap:60px
        }
    }

    .cards-img{
        min-width: 371px;
        height: 161px;
    }

    .badge{
        display: flex;
        justify-content: flex-end;
    }

    /*------------------------------*/
    /* = Restaurants                */
    /*------------------------------*/

    .contenaire{
        width: 1055px;
        height: auto;
        margin: auto;
        position: relative;
        z-index: 2;
        top: 70px;

        &__menu{
            display: flex;        
        }
    }

    .align_txt{
        justify-content: center;
    }

    .menu{
        width: 634px;

        &__m-align{
            margin: auto;
        }
    }

    .img{
        width: 1440px;
        height: 320px;

        &__contenaire{
            margin: auto;
        }
    }


    /*------------------------------*/
    /* = Pied de page               */
    /*------------------------------*/

    .pied-de-page{
        position:relative;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 114px;
        top:70px;
        background:var.$col-pdpP;

        &__m-align{
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
        &__m-titre{
            display: flex;
            flex-direction: row-reverse;
            margin-top: 30px;
            gap: 70px;
        }

    }

    .pied-de-page_2{
        position:relative;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 114px;
        background:var.$col-pdpP;
    }

    /*------------------------------*/
    /* = Positionnement des images  */
    /*------------------------------*/

    .img-lapalette__2{
        object-position: 0 -400px;
    }

}
