/*
SOMMAIRE RESTAURANTS.SCSS
1 - Header
2 - Image
3 - Titre de la page
4 - Menu (et trait bleu)
5 - Vignettes des menus

*/
@use 'var';

/*-----------------------*/
/* = Header              */
/*-----------------------*/

.header__titre{
    font-size: 28px;
    font-weight: 400;
        
    &-align{
        margin: auto;
    }

}

.header__go-back{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    margin: 0 0 0 17px; 
}

/*-----------------------*/
/* = Titre               */
/*-----------------------*/

.titre{
    font-size: 28px;
    margin-top: 0;
}


/*-----------------------*/
/* = Image               */
/*-----------------------*/

.img{
    width: 100%;
    height:260px;
    object-fit: cover;

    &__contenaire{
        height: 200px;
    }
}

.align_txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 30px;
    left: 17px;
}

.align-heart{
    position: relative;
    display: flex;
    margin: 10px 35px;
    
    /* Animation coeur */
    .fa-solid{
        opacity: 0;
        position: absolute;
        color: transparent;
        background-image: linear-gradient(var.$col-primaire, var.$col-secondaire);
        background-clip: text;
        transition: all 500ms;
    }
    &:hover .fa-solid{
        opacity: 1;
    }
}

/*-----------------------*/
/* = Menu                */
/*-----------------------*/
.contenaire{
    width: 375px;
    background-color:var.$col-sect;
    border-radius: 50px 50px 0 0;
    
    &__menu{
        margin-left: 10px;
    }
}

.line{
    width: 40px;
    height: 3px;
    background:var.$col-tertiaire;
    margin-bottom: 12px;
}

/*-----------------------*/
/* = Vignettes des menus */
/*-----------------------*/

.plat{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.menu{
    display: flex;
    justify-content: space-between;
    width: 349px;
    height: 69px;
    border-radius: 15.043px;
    background:var.$col-wht;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
    @include var.menu-txt;

    animation: appear 1s;

    @for $i from 1 through 3{
        &:nth-child(#{$i}) {
            animation-delay: 100ms *$i;
        }
    }

    &__titre{
    color: var.$col-blk;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase; /*Mets en Majuscule le texte*/
    margin: 40px 0 5px 0;
    @include var.menu-txt;
    }

    &__ss-titre{
        color: var.$col-blk;
        font-size: 18px;
        font-weight: 500;
        margin: 15px 0 0 15px;
        @include var.menu-txt;
    }

    &__txt{
        color: var.$col-blk;
        font-size: 15.043px;
        margin: 0 0 15px 15px;
        @include var.menu-txt;
        }

    &__euro{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 15.043px;
        font-weight: 700;
        margin-bottom: 15px;
    
        &-align{
            display: flex;
            align-items: flex-end;
            gap:15px;
        }
    }

    &__cloche{
        background-color:var.$col-tertiaire;
        width: 4rem;
        height: 69px;
        margin-right: -4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 15px 15px 0;
        opacity: 1;
        position: relative;
        transition: margin-right , .5s;
    }
    
    &:hover &__cloche{
        cursor: pointer;
        margin-right: 0;
    }
}













