/* VAR.SCSS */

    /* variables pour les couleurs */
    $col-loc:#EAEAEA;
    $col-pdpP:#353535;
    $col-primaire:#9356DC;
    $col-secondaire:#FF79DA;
    $col-tertiaire:#99E2D0;
    $col-txtNew:#008766;
    $col-sect:#f6f6f6;
    $col-blk:#000;
    $col-wht:#fff;

    /* Variables pour les médias queries*/

    $smartphone:360px;
    $tablet:810px;
    $desktop:1100px;

    /* Mixins - Keyframes */

    @mixin menu-txt{
        white-space: nowrap;     /* Empêche le texte de passer à la ligne */
        overflow: hidden;        /* Cache le texte qui dépasse la largeur de l'élément */
        text-overflow: ellipsis; /* Ajoute une ellipse (...) à la fin du texte coupé */
    }


    @keyframes appear {
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);
        }
        
    }