/* VAR.SCSS */

    /* variables pour les couleurs */
    $col-loc:#EAEAEA;
    $col-pdpP:#353535;
    $col-primaire:#9356DC;
    $col-secondaire:#FF79DA;
    $col-tertiaire:#99E2D0;
    $col-txtNew:#008766;
    $col-sect:#f6f6f6;
    $col-blk:#000;
    $col-wht:#fff;

    /* Variables pour les médias queries*/

    $-smartphone:375px;
    $-tablet:768px;
    $-maxWidth:1440px;

    /* Mixins */

    @mixin menu-txt{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }